flask==2.3.3
flask-cors==4.0.0
flask-socketio==5.3.6
python-engineio==4.8.2
python-socketio==5.11.1
boto3==1.35.87
python-dotenv==0.19.0
werkzeug==2.3.7
tokenizers==0.13.3
openai==1.58.1
typing-extensions==4.12.2
tenacity==9.0.0